:root {
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

body {
  background-color: var(--very-dark-blue-main-background);
  color: var(--white-main-heading-stats);
  display: grid;
  grid-template-rows: 1fr 2rem;
  place-items: center;
}

article {
  background-color: var(--dark-desaturated-blue-card-background);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  max-width: 1080px;
  width: 60vw;
}

article > * {
  flex: 1;
}

.img {
  background-color: var(--soft-violet-accent);
}
